<div class="site-topbar">
  <a href="{{ '/' | relative_url }}"><i class="fa-solid fa-house"></i> Home</a>
  · <a href="{{ '/research/' | relative_url }}"><i class="fa-solid fa-book"></i> Research</a>
  · <a href="{{ '/blog/' | relative_url }}"><i class="fa-solid fa-pen-nib"></i> Blog</a>
  · <a href="{{ '/talks/' | relative_url }}"><i class="fa-solid fa-comments"></i> Talks</a>
  · <a href="{{ '/about/' | relative_url }}"><i class="fa-solid fa-id-badge"></i> About</a>
  · <a href="{{ '/cv/' | relative_url }}"><i class="ai ai-cv ai-fw"></i> CV</a>
</div>
